/* Reset some default margins and paddings */

body {
  font-family: Hind Siliguri, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  background: #fff;
  color: #001036;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2em;
  line-height: 1.3;
  /* overflow: auto; */
}

body,
html {
  margin: 0;
  padding: 0;
  /* background-color: #676965; */
}

/* Style for the image container */
.image-container {
  width: 100%;
  height: 51vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Prevents image from overflowing */
  /* background-color: #000;  */
  /* Fallback background color */
  position: relative;
}

.image-container img {
  /* width: 80%; */
  /* Zoom out the image */
  height: auto;
  /* transition: transform 5s; */
  /* Smooth transition for zoom effect */
}

body .box {
  margin: 0;
  padding: 0;
  /* position: absolute; */
}

.button1 {
  position: fixed;
  /* position: relative; */
  top: 10px;
  right: 10px;
  background-color: #0074d9;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
}

/* #logout-button:hover {
  background-color: #0056b3; /* Button background color on hover */
/* } */

/* .button1:active {
  transform: scale(0.98);
} */

/* Apply zoom-out effect on hover */
/* .image-container:hover img {
    transform: scale(0.8); /* Scale down the image on hover */
/* }  */

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: -49px;
  color: white;
  line-height: 1.4;
  font-size: 1.68rem;
  font-weight: 300;
  padding-left: 4rem;
  opacity: 1;
}

.currentDate {
  position: absolute;
  bottom: 20px;
  color: white;
  line-height: 2;
  font-size: 1.68rem;
  font-weight: 200;
  padding-left: 4rem;
  /* opacity: 1; */
}

.big-image {
  width: 100%;
  height: 100%
}

.small-image {
  position: absolute;
  top: -1px;
  left: -1px;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  /* position: fixed; */
  /* transform: scale(0.4); */
  width: 100px;
  height: auto;
  background-color: transparent;
  background-image: transparent;
  background: transparent;
  opacity: 7;
}

.overlay {
  position: absolute;
  bottom: 44px;
  left: 67px;
  color: white;
  font-size: 24px;
}

.content {
  padding-right: 9rem;
  padding-left: 4rem;
  /* position: relative; */
  /* opacity: 1; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* background: #fff; */
  /* box-shadow: 0 0.3rem 0.6rem rgba(47, 47, 47, .42); */
  /* border-radius: 4rem; */
  padding: 0rem 18.7rem 4.5rem 4.9rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid rgba(218, 224, 228, .3);
  vertical-align: middle;
  text-align: justify;
  position: absolute;
  margin-right: 96px;
  margin-left: -61px;
  margin-top: -49px;
  /* max-height: 300px; */
  overflow: auto;
  width: 838px;
}

/* .countdown {
  position: absolute;
  display: flex;
  gap: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  top: 147px;
  margin-right: -697px;
  margin-left: 209px;
} */
/* 
.timer {
  width: 60px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} */

#countdown {
  position: absolute;
  /* top: 20px; */
  right: 20px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 12px;
  /* border-radius: 5px; */
  /* font-size: 16px; */
  display: flex;
  color: #000000;
  background-color: aliceblue;
  bottom: 10px;
}

/* Style for countdown labels in horizontal format */
.countdown-label {
  margin-right: 10px;
  background-color: orange;
}

/* Style for countdown values in vertical format */
.countdown-values {
  display: block;
  font-size: 28px;
  margin-bottom: 5px;
  /* background-color: antiquewhite; */
}


/* body footer{ */
/* display: flex; */
/* flex-direction: column; */

/* align-items: center; */
/* height: 100vh; */
/* margin: 0; */
/* background-color: #f0f0f0;  */
/* Background color of the page */
/* } */

footer {
  background-color: #000;
  /* Black background color for the footer */
  color: #fff;
  /* Text color for the footer */
  padding: 8px;
  text-align: center;
  justify-content: center;
  position: relative;
  margin-top: 950px;
  /* display:-webkit-inline-flex */
}

/* .final{
  height: 1500px;
} */

/* .Record{
  position: absolute;
}

#live{
  margin-right: 20px;
} */

/* body {
  margin: 0;
  overflow: hidden;
} */

body .ticker {
  margin: 0;
  overflow: hidden;
}

.ticker-container {
  /* overflow: hidden; */
  white-space: nowrap;
  position: relative;
  /* color: black; */
  /* width: 100%; */
}

.ticker {
  position: relative;
  /* overflow: hidden; */
  white-space: nowrap;
  /* color: #000000; */
  animation: scroll 20s linear infinite;
  /* Adjust duration as needed */
  /* top: 109px; */
  width: 100%;
}

.ticker ul {
  list-style-type: none;
  /* display: inline-block; */
  /* padding-left: 100%; Set a large initial padding */
  /* color: #000000; */
}


.ticker li {
  display: inline;
  /* padding: 10px; */
  /* color: #000000; */
}

/* Add this CSS in your "ticker.css" file */
.ticker li a {
  color: #000;
  /* Set the default link color */
  text-decoration: none;
  /* Remove the underline */
  /* transition: color 0.3s; Add a smooth color transition */
}

.ticker li a:hover {
  color: #007bff;
  /* Change the color on hover */
}


@keyframes scroll {
  0% {
    left: 100%;
    /* Start off-screen on the right */
  }

  100% {
    left: -100%;
    /* Move off-screen on the left */
  }
}

.yes {
  top: 25px;
  left: 5px;
  margin-bottom: 10px;
  height: 119px;
  background-color: #d3d3d3;
  border-radius: 15px;
  border: 3px solid black;
  padding: 9px 9px 0px 7px;
  width: 343px;
}

.image-with-name {
  height: 32px;
  width: 29px;
  margin-top: 2px;
  margin-right: 8px;
  margin-bottom: -11px;
  margin-left: 2px;
}

.image-name {
  font-weight: bold;
  margin-top: -22px;
  margin-left: 53px;
}

.headline {
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-top: -3px;
}

.fixed {
  height: 10px;
}

.all1 {
  margin-top: -44px;
  margin-left: 135px;
}

.total {
  margin-top: 23px;
  margin-left: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 257px;
}

.all {
  position: absolute;
  width: 370px;
  left: 899px;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
  margin-top: -35px;
  /* margin-left: 957px; */
  height: 930px;
  overflow: auto;
}

/* .nikhil{
  position: absolute;
} */

/* .tttt img{ */
  /* margin-top: 6px; */
  /* margin-bottom: -25px; */
  /* height: 15px; */
/* } */

/* .rrrr img{ */
  /* margin-top: 10px; */
  /* height: 10px; */
/* } */

/* .team-info .tttt{
  margin-top: -4px;
} */
.team-info img{
  margin-top: 5px;
  margin-bottom: -17px;
}